<% provide(:title, t('.metatitle')) %>
<h1><%= t('.title') %></h1>
<p class="lead"><%= t('.email_notice') %></p>
<p class="lead"><%= t('.bank_statement_notice_html', creditor_name: current_merchant.mandate_name) %></p>
<p class="lead"><%= t('.mandate_notice', mandate_reference: current_customer.bank_accounts.first.mandates.first.reference) %> <%= link_to t('.pdf_link'), flow_mandate_pdf_path(current_merchant.admin.slug, current_merchant.slug), target: '_blank' %>.</p>

<% if current_customer.bank_accounts.first.scheme == 'bacs' %>
	<%= render 'compliance/bacs_footer' %>
<% end %>