<% provide(:title, 'SEPA Direct Debit Mandate') %>
<h1>SEPA Direct Debit Mandate</h1>

<div class="row">
	<div class="col-xs-3 text-right"><strong>Creditor ID:</strong></div>
	<div class="col-xs-9">IE 97 ZZZ 123456</div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong>Name:</strong></div>
	<div class="col-xs-9"><%= current_merchant.mandate_name %></div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong>Address:</strong></div>
	<div class="col-xs-9"><%= current_merchant.full_address %></div>
</div>
<hr/>

<% if current_customer.bank_accounts.first.iban.blank? %>
	<div class="row">
		<div class="col-xs-3 text-right"><strong>Bank account:</strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.account_number_obfuscated %></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><strong>Bank code:</strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.bank_code %></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><strong>Branch code:</strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.branch_code %></div>
	</div>
<% else %>
	<div class="row">	
		<div class="col-xs-3 text-right"><strong>IBAN:</strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.iban_obfuscated %></div>
	</div>
<% end %>
<div class="row">
	<div class="col-xs-3 text-right"><strong>Holder:</strong></div>
	<div class="col-xs-9"><%= current_customer.full_name %></div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong>Address:</strong></div>
	<div class="col-xs-9"><%= current_customer.full_address %></div>
</div>
<hr/>

<div class="row">
	<div class="col-xs-3 text-right"><strong>Reference:</strong></div>
	<div class="col-xs-9">[Available after confirmation]</div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong>Date:</strong></div>
	<div class="col-xs-9"><%= Date.today.strftime("%d %B %Y") %></div>
</div>
<hr/>

<div class="col-xs-offset-3">
	<p><small>By signing this mandate form, you authorise (A) <strong><%= current_merchant.mandate_name %></strong> to send instructions to your bank to debit your account and (B) your bank to debit your account in accordance with the instructions from <strong><%= current_merchant.mandate_name %></strong>.</small></p>
	<p><small>As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited.</small></p>
	<%= link_to 'Confirm', flow_confirmation_path(current_merchant.admin, current_merchant), :class => 'btn btn-primary pop' %>
	<p><small>By confirming, you are agreeing to be pre-notified three working days before a charge.</small></p>
</div>