<tr>
	<td>
		<ul class="list-unstyled">
			<li><%= link_to 'edit ' + merchant.name, edit_merchant_path(merchant) %></li>
			<li><%= link_to 'see merchant', merchant_path(merchant), :class => 'btn btn-primary btn-xs' %></li>
	</td>
	<td><%= image_tag merchant.logo.url, height: 16 if merchant.logo? %></td>
	<td>
		<ul class="list-unstyled">
			<li><%= link_to merchant.payment_templates.count.to_s + ' payment templates', merchant_payment_templates_path(merchant.id) %></li>
			<li><%= link_to merchant.subscription_templates.count.to_s + ' subscription templates', merchant_subscription_templates_path(merchant.id) %></li>
		</ul>
	</td>
	<td><%= link_to "delete", merchant_path(merchant.id), data: { method: :delete, confirm: "Are you sure? There is no way back." }, title: "delete" %></td>
</tr>