<% @customer ||= current_customer %>

<div id="bacs-compliance">
	<hr/>
	<div class="col-xs-offset-3 small">
		<%= image_tag('bacs-direct-debit-logo.png', height: '30px') %>
    <strong><%= @customer.merchant.name %> - Contact details:</strong><br/>
		<%= @customer.merchant.full_address %><br/>
		<%= @customer.merchant.phone + '<br/>' unless @customer.merchant.phone.blank? %>
		<%= @customer.merchant.email + '<br/>' unless @customer.merchant.email.blank? %>
		Your payments are protected by the <a data-toggle="modal" data-target="#dd-guarantee">Direct Debit Guarantee</a>
	</div>
</div>

<div class="modal fade" id="dd-guarantee" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 50px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
        	The Direct Debit Guarantee
        	<%= image_tag('bacs-direct-debit-logo.png', height: '30px', :class => 'pull-right') %>
        </h4>
      </div>
      <div class="modal-body">
      	<ul>
        	<li>The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.</li>
        	<li>If there are any changes to the amount, date or frequency of your Direct Debit the organisation will notify you (normally 10 working days) in advance of your account being debited or as otherwise agreed. If you request the organisation to collect a payment, confirmation of the amount and date will be given to you at the time of the request.</li>
        	<li>If an error is made in the payment of your Direct Debit, by the organisation or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.</li>
        	<li>If you receive a refund you are not entitled to, you must pay it back when the organisation asks you to.</li>
        	<li>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify the organisation.</li>
        </ul>
      </div>
    </div>
  </div>
</div>