<% @customer ||= current_customer %>

<div id="bacs-compliance">
	<hr/>
	<div class="col-xs-offset-3 small">
		<%= image_tag('bacs-direct-debit-logo.png', height: '30px') %>
    <strong><%= @customer.merchant.name %> - <%= t('.contact_details') %></strong><br/>
		<%= @customer.merchant.full_address %><br/>
		<%= @customer.merchant.phone + '<br/>' unless @customer.merchant.phone.blank? %>
		<%= @customer.merchant.email + '<br/>' unless @customer.merchant.email.blank? %>
		<%= t('.protected_by') %> <a data-toggle="modal" data-target="#dd-guarantee"><%= t('.dd_guarantee_link') %></a>
	</div>
</div>

<div class="modal fade" id="dd-guarantee" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 50px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
        	<%= t('.dd_guarantee_title') %>
        	<%= image_tag('bacs-direct-debit-logo.png', height: '30px', :class => 'pull-right') %>
        </h4>
      </div>
      <div class="modal-body">
      	<ul>
        	<%= t('.dd_guarantee_body_html') %>
        </ul>
      </div>
    </div>
  </div>
</div>