<% provide(:title, t('.metatitle')) %>
<h1><%= t('.title') %></h1>

<div class="row">
	<div class="col-xs-3 text-right"><strong><%= t('.creditor_id') %></strong></div>
	<div class="col-xs-9">IE 97 ZZZ 123456</div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong><%= t('.creditor_name') %></strong></div>
	<div class="col-xs-9"><%= current_merchant.mandate_name %></div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong><%= t('.creditor_address') %></strong></div>
	<div class="col-xs-9"><%= current_merchant.full_address %></div>
</div>
<hr/>

<% if current_customer.bank_accounts.first.iban.blank? %>
	<div class="row">
		<div class="col-xs-3 text-right"><strong><%= t('.account_number') %></strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.account_number_obfuscated %></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><strong><%= t('.bank_code') %></strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.bank_code %></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><strong><%= t('.branch_code') %></strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.branch_code %></div>
	</div>
<% else %>
	<div class="row">	
		<div class="col-xs-3 text-right"><strong><%= t('.iban') %></strong></div>
		<div class="col-xs-9"><%= current_customer.bank_accounts.first.iban_obfuscated %></div>
	</div>
<% end %>
<div class="row">
	<div class="col-xs-3 text-right"><strong><%= t('.holder_name') %></strong></div>
	<div class="col-xs-9"><%= current_customer.full_name %></div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong><%= t('.customer_address') %></strong></div>
	<div class="col-xs-9"><%= current_customer.full_address %></div>
</div>
<hr/>

<div class="row">
	<div class="col-xs-3 text-right"><strong><%= t('.mandate_reference') %></strong></div>
	<div class="col-xs-9"><%= t('.mandate_reference_placeholder') %></div>
</div>
<div class="row">
	<div class="col-xs-3 text-right"><strong><%= t('.name') %></strong></div>
	<div class="col-xs-9"><%= Date.today.strftime("%d %B %Y") %></div>
</div>
<hr/>

<div class="col-xs-offset-3">
	<p><small><%= t('.disclaimer1_html', creditor_name: current_merchant.mandate_name) %></small></p>
	<p><small><%= t('.disclaimer2_html') %></small></p>
	<%= link_to t('.button_confirm'), flow_confirmation_path(current_merchant.admin.slug, current_merchant.slug), :class => 'btn btn-primary pop' %>
	<p><small><%= t('.disclaimer3_html') %></small></p>
</div>