<% provide(:title, 'Edit a payment template') %>
<h1>Edit this payment template</h1>
<p>You can generate as many payment templates as you wish. Each of them will trigger a one-off payment in the demo once the mandate is confirmed.</p>

<%= simple_form_for @payment, :url => merchant_payment_template_path  do |f| %>
	<%= f.input :nickname, required: true, autofocus: true, input_html: {value: f.object.nickname || 'First'}, hint: 'Use this to remember which template is which in your control panel' %>
	<%= f.input :amount_gbp, required: true, hint: 'The amount in GBP which will be used if the mandate is BACS', label: 'Amount in GBP' %>
	<%= f.input :amount_eur, required: true, hint: 'The amount in EUR which will be used if the mandate is SEPA', label: 'Amount in EUR' %>
	<%= f.input :charge_date, required: true, input_html: {value: f.object.charge_date || '0'}, hint: 'How many days after the mandate is created should the customer be debited? Leave 0 for as soon as possible' %>
	<%= f.input :reference, hint: 'Optional reference on the bank statement' %>
	<%= f.button :submit, "Edit payment template", :class => 'pop col-xs-offset-3' %>
	<%= link_to "back to payment template list", merchant_payment_templates_path %>
<% end %>